/* div_style.css */

#div1{
    /* top:위, right:오른쪽
    left:왼쪽 , bottom:아래*/
    /* 여백 - 밖 : margin
                안: padding*/
    margin-top:50px;
    margin-left: 100px;
    border: 1px solid black;
    width: 200px;
}

#div2{
    border: 1px solid black;
    margin: 30px 0 0 50px;
    /* margin: 위 오른쪽 아래 왼쪽 시계 방향*/
}

#div3{
    border: 1px solid black;
    padding-top: 50px;
    padding-left: 100px;
    width: 200px;
}

#div4{
    border: 1px solid black;
    margin-bottom: 45px;
    padding-left: 80px;

}

#div5{
    border: 1px solid black;
    padding-left: 80px;
}

#div6{
    border: 1px solid black;
    width: 600p;
    height: 400px;
}

.d{
    height: 30px;
    border: 1px solid black;
}

.d1{
    background: green;
    margin-top: 20px;
}
.d2{
    background: pink;
    height:auto;
    padding-bottom: 25px;
    padding-top: 25px;
}
.d3{
    background: yellow;
    margin: 15px 10px 0 10px;
    height: auto;
}
.sub{
    width: 50px;
    height: 100px;
    background: mediumaquamarine;
}