/* gview.css */


/* 
    전체 영역
    너비 : 600px;
    높이 : auto;
    여백 위 (밖) : 100px;

    제목 영역
    글자크기 : 20px

    이미지 영역
    이미지 크기 : 최대 너비 600px

    메뉴 영역
    너비 : 80px    ,높이 : 30px
    간격 : 20px
    배경색 : 검정 , 글자색 : 흰색
*/

#view_box{
    width: 100%;
    height: auto;
    margin-top: 100px;
}

#view_wrap{
    width: 600px;
    height: auto;
    /* margin: 0 auto : 가운데 정렬 */
    margin:0 auto;
}

#title{
    font-size: 20px;
}

#image{
    width: 600px;
    height: auto;
}

#image img{
    max-width:600px;
}

#bt{
    width: 300px;
    display: flex;
    height: 30px;
}

#bt a{
    width: 80px;
    height: 30px;
    line-height: 30px;
    background: black;
    color: white;
    display: block;
    margin-right: 20px;
    text-align: center;
}