table{border-collapse: collapse;}

#table_wrap tr td{border:1px solid black;}

.top{text-align: right;
     padding-right: 50px;}

#menu{width: 100%; 
      height: 60px;}

#menu tr td{border:none;
            width:16.6%;
            height: 60px;
            text-align: center;
            font-size: 15pt;}

#menu tr td:hover{font-weight: 800;
                  background: #999;}

#sub_menu{padding: 0;
          margin: 0;
          list-style-type:none;
          width: 150px;
          height: 120px;
          background: rgb(0, 100, 204);
          color: white;
          font-size: 15pt;
          text-align: center;}

#sub_menu li{height: 30px;
             line-height: 30px;}

#sub_menu li:hover{background: rgb(178, 235, 244);
                   color: black;}

.main_img{width: 550px;
          height: 350px;}

.main_img:hover{opacity: 0.4;}

#notice tr td{border: 0;}

#notice_word{font-size: 12pt;
             height: 30px;}

#notice #notice_line td{width: 600px;
                        border-top: 1px solid black;}

#notice #notice_word .nt{border: 1px solid black;
                         width: 100px;}

#notice #notice_word .news{width: 100px;}

#notice #notice_word:hover .news{border:1px solid black;}

#notice #notice_word:hover .nt{border: 0;}



.t1:hover{border: 1px solid black;}

.t2:hover{border: 1px solid black;}

.title{border-top: 1px solid black;
       border-left: 1px solid black;
       width: 100px;}

.t{display: inline-block;
   width: 100px;
   position: absolute;}

.t1{border: 1px solid black;}

.t2{left: 270px;}

.t2:hover{border: 1px solid black;}

.t2:hover ~ .t1{border:0;}

.content{border-top: 1px solid black;
         width: 600px;
         height: 10px;}

.title{width: 600px; height: 22px;}

#n1,#n2{display: inline-block;
        width: 100px;}
#n1{border: 1px solid black;}

