p{font-size: 20pt; font-weight: 700; text-shadow: 5px 5px 5px gray;}
table tr td{border: 1px solid black; width: 200px; height: 300px;}          
hr{width:635px; margin-left: 0;}
.animal img{width: 195px; height:auto;}
.animal p  {font-size: 12pt; font-weight:500; text-shadow: none;}