
.title{
    width: 150px;
    font-size: 15pt;
    /* font-weight : 글자 굵기 */
    font-weight: 700px;
    text-align: right; /* 글씨 정렬 위치*/
    padding-right: 10px;
}

.join_input input{
    width: 300px;
    height: 28px;
    font-size: 13pt;
    border: 2px solid green;
    border-radius: 10px;
    margin: 0 auto;
    margin-bottom: 15px;
    margin-left: 230px;
}
#join_bt{
    width: 310px;
    height: 37px;
    /* margin 0: 을 주고 다른 마진을 줘야 가운데로 온다 */
    margin: 0 auto;
}

#join_bt a{
    text-decoration: none;
    background: #03c75a;
    display: block;
    height: 37px;
    /* 수직,수평 을 해줘야 가운데로 온다 */
    line-height: 37px;
    text-align: center;
    color: white;
    font-weight: 10px;
    border-radius: 10px;
}

#join_bt2{
    width: 310px;
    height: 37px;
    /* margin 0: 을 주고 다른 마진을 줘야 가운데로 온다 */
    margin: 0 auto;
    margin-bottom: 40px;
}

#join_bt2 a{
    text-decoration: none;
    display: block;
    height: 37px;
    /* 수직,수평 을 해줘야 가운데로 온다 */
    line-height: 37px;
    text-align: right;
    color:black;
    font-weight: 10px;
    border-radius: 10px;
}