/* main.css */

body, div, ul{
    padding: 0;
    margin: 0;
}

#header_wrap{
    width: 100%;
    height: 40px;
    background: #4a84b7;
}

#global_warp{
    width: 1000px;
    margin: 0 auto;
    height: 40px;
}

#util{
    float:right;
    width: 500px;
    list-style-type: none;
    display: inline-block;
    vertical-align: middle;
    padding: 9px 0 10px 0;
}

#util li{
    float:left;
    padding: 0 11px;
    color: white;
    font-size: 12px;
    border-left: 1px solid #c4deff;
}

#util li:nth-child(1){
    border: 0px;
}

.city{
    color: yellow;
}

.site01{
    color: greenyellow;
}

#logo_menu_warp{
    width: 100%;
    height: 80px;
    background-color: #223c6f;
}

#logo_menu{
    width: 1000px;
    height: 80px;
    margin: 0 auto;
    display: flex;
}

#logo{
    width: 200px;
}

#menu{
    width: 800px;
}




