/* 과제8.css */

body{
    width: 100%;
    height: 100%;
    display: flex;
}

#top{
    width: 1000px;
    height: 900px;
}

#mid{
    width: 1000px;
    height: 750px;
    margin: 0 auto;
    background: hotpink;
}

#mid_box{
    width: 1000px;
    height: 750px;
    margin: 0 auto;
    background: rgb(157, 86, 187);
    border: 1px solid black;
}

#bt{
    width:1000px;
    height:150px;
    margin:0 auto;
    display: flex;
}

.bingo_line{
    width:1000px;
    height:150px;
    background: violet;
    display: flex;
    border: 1px solid black;
}

.bt_box{
    width: 1000px;
    height: 150px;
    background: crimson;
    margin-top: 20px;
}

#bottom{
    width: 200px;
    height: 500px;
    background: mediumaquamarine;
    margin-top: 150px;
    margin-left: 5px;
    
}

.bingo_line div{ 
    width:200px;
    height: 150px;
    background: chocolate;
    text-align: center;
    font-size: 30px;
    font-weight:600;
    line-height:150px;
    border: 1px solid black;
    /* line-height : 글자를 세로 가운대로 오게한다. */

}
