/* 과제8.css */

body{
    width: 100%;
    height: 100%;
    display: flex;
}

#top{
    width: 1000px;
    height: 900px;
    margin-right: 1px;
    background: greenyellow;
}

#mid{
    width: 1000px;
    height: 750px;
    margin: 0 auto;
    background: hotpink;
}

#mid_box{
    width: 1000px;
    height: 750px;
    margin: 0 auto;
    background: rgb(157, 86, 187);
    display: flex;
}

#bt{
    width:1000px;
    height:150px;
    margin:0 auto;
    background: rgb(82, 189, 189);
    display: flex;
}

.bingo_line{
    width:200px;
    height:750px;
    background: violet;
}

.bingo{ 
    width:199px;
    height: 149.2px;
    background: chocolate;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

.bt_box{
    width: 999px;
    height: 149px;
    background: crimson;
    border-right: 1px solid black;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    margin-top: 1px;
}

#bottom{
    width: 200px;
    height: 500px;
    background: mediumaquamarine;
    margin-top: 150px;
    
}

.bingo_line div{ 
    width:199px;
    height: 149.2px;
    background: chocolate;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    text-align: center;
    font-size: 30px;
    font-weight:600;
    line-height:149.2px;
    /* line-height : 글자를 세로 가운대로 오게한다. */

}
