.a{
    border: 1px solid black;
    width: 600px;
    height: 150px;
}

.dbs{
    border: 1px solid black;
    width: 800px;
    height: 5px;
    text-align: right;
    padding-right: 50px;
    
}
#wo td{
    border: 1px solid black;
    width: 800px;
    text-align: center;
}
#wo td span:hover{
    background-color: #999;
    font-weight: bold;
    font-size: 16px;

}

#dud td{
    border: 1px solid black;
    width: 120px;
    height: 100px;
    text-align: center;
    
}

#dud1 td{
    border: 1px solid black;
    height: 200px;
    


}

#dud2 td{
    border: 1px solid black;
    height: 15px;

}

.wjd{
    width: 350px;
    margin: 0%;
    text-align: center;
}

.dud3 ul li{
    list-style-type: none;
}

#dudd1{
    text-align: center;
    padding-left: 0;
    margin-bottom: px;
}

