#box{border: 1px solid red;
     width: 800px;
     height: 400px;
     /* position: relative; */
     margin-top: 50px;
     top: 50px;
     left: 100px;}

#box1{width: 200px;
      height: 200px;
      background: blue;
      position: absolute;
      top: 80px;
      left: 200px;}

#box2{width: 300px;
      height: 150px;
      background: gray;
      left: 10px;
      top: 50px;
      position: relative;}

#box3{width: 100px;
      height: 100px;
      background: yellow;}

#box4{width: 100px;
      height: 100px;
      background-color: green;
      position: absolute;
      top: 10px;}






