/* 과제6-2.css */

.big{
    width: 1600px;
    height: 850px;
    border: 1px solid black;
    margin: 0 auto;
    padding:  0 auto;
}

.top{
    width: 1600px;
    height: 100px;
    display: flex;
}

.all{
    width: 1600px;
    height: 750px;
    border-right:  1px solid black;
    display: flex;
}

.right{
    width: 1600px;
    height: 750px;
    border-top: 1px solid black;
    
}

.top1{
    width: 300px;
    height: 100px;
}

.top2{
    width: 1300px;
    height: 100px;
    border-left: 1px solid black;
}

.top2 img{
    width: 300px;
    height: 80px;
    margin-left: 380px;
    margin-top: 5px;

}

.logo img{
    width: 200px;
    height: 80px;
    margin-left: 40px;
    margin-top: 5px;
}

.info{
    width: 800px;
    height: 750px;
    margin: 0 auto;
    padding: 0 auto;
}

.info_box_box{
    width: 360px;
    height: 500px;
    margin: 0 auto;
    padding: 0 auto;
    margin-top: 30px;
    
}

.info_box{
    width: 290px;
    height: 50px;
    display: flex;
    text-align: right;
    margin: 0 auto;
   
}

.info_box a{
    text-decoration: none;
    color: black;
}

.box{
    display: flex;
    margin-right: 50px;
    
}

.box_id{
    width: ;
    margin: 0 auto;
    padding: 0 auto;
    margin-right: 25px;
    margin-top: 5px;
}

.box input{
    background: rgb(55, 153, 206);
    border-radius: 5px;
}

.a_box{
    width: 200px;
    height: 40px;
    margin-left: 180px;
    margin-top: 100px;
}


















